
<app-header [headerTitle]="'Home'"></app-header>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [style]="currentImg"></div>
    <mat-card-title>{{ currentUser }}</mat-card-title>
    <mat-card-subtitle>User</mat-card-subtitle>
  </mat-card-header>
</mat-card>


<ng-container>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="addTask()" class="demo-button">
      Add Task
    </button>
  </div>
</ng-container>
<table mat-table [dataSource]="tasks.length == 0 ? noTasks : tasks">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{element.title}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{element.description}}</td>
  </ng-container>

  <ng-container matColumnDef="user_id">
    <th mat-header-cell *matHeaderCellDef>Made By</th>
    <td mat-cell *matCellDef>{{ currentUser }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" aria-label="update" (click)="updateTaskDialog(element)">
        <mat-icon>update</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="update">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="5">No data here.</td>
  </tr>

</table>





