<h1 mat-dialog-title>Add new task</h1>
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
  <div mat-dialog-content class="block">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input id="title" name="title" matInput [(ngModel)]="task.title">
      <mat-error>Please enter a valid title.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea id="description" name="description" matInput [(ngModel)]="task.description"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button *ngIf="" type="submit" mat-button cdkFocusInitial>Ok</button>
  </div>
</form>
